<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>後台管理</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-info">登出</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" id="addBtn" @click="showModal">
              新增商品
            </button>
          </div>

          <div class="feedback" v-if="alertInfo">
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
              刪除成功
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <div class="feedback" v-if="successtInfo">
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
              商品新增成功
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">商品名稱</th>
                <th scope="col">商品分類</th>
                <th scope="col">商品售價</th>
                <th scope="col">商品原價</th>
                <th scope="col">商品啟用</th>
                <th scope="col">商品管理</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="product in productList" :key="product.id">
                <tr>
                  <td>{{ product.title }}</td>
                  <td>{{ product.category }}</td>
                  <td>{{ product.price }}</td>
                  <td>{{ product.origin_price }}</td>
                  <td>{{ product['is_enabled'] === 1? '啟用':'未啟用' }}</td>
                  <td><button type="button" :data-id='product.id' class="btn btn-primary me-2">編輯</button><button
                      type="button" :data-id='product.id' class="btn btn-outline-danger"
                      @click="deleteProduct">刪除</button></td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- 新增產品 -->
    <div class="modal fade" id="modalBox" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">產品新增</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="productTitle" class="form-label">商品名稱<span class="text-danger">(必填)</span></label>
                <input type="text" class="form-control" id="productTitle" placeholder="動物園造型衣服">
              </div>
              <div class="mb-3">
                <label for="productCategory" class="form-label">商品種類<span class="text-danger">(必填)</span></label>
                <input type="text" class="form-control" id="productCategory" placeholder="衣服">
              </div>
              <div class="mb-3">
                <label for="productUnit" class="form-label">商品單位<span class="text-danger">(必填)</span></label>
                <input type="text" class="form-control" id="productUnit" placeholder="個">
              </div>
              <div class="mb-3">
                <label for="productContent" class="form-label">商品內容</label>
                <input type="text" class="form-control" id="productContent" placeholder="內容">
              </div>
              <div class="mb-3">
                <label for="productDesc" class="form-label">商品描述</label>
                <textarea class="form-control" id="productDesc" rows="3" placeholder="商品描述"></textarea>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="productOriginPrice" class="form-label">商品原價<span class="text-danger">(必填)</span></label>
                  <input type="number" class="form-control" placeholder="商品原價" min="0" id='productOriginPrice'>
                </div>
                <div class="col">
                  <label for="productPrice" class="form-label">商品售價<span class="text-danger">(必填)</span></label>
                  <input type="number" class="form-control" min="0" placeholder="商品售價" id='productPrice'>
                </div>
              </div>
              <div class="mb-3">
                <label for="productImage" class="form-label">商品圖片</label>
                <input type="url" class="form-control" id="productImage" placeholder="商品圖片網址">
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="enabled">
                  <label class="form-check-label" for="enabled">
                    是否啟用
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" @click="addProduct">新增</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script>
    let modal = '';
    const app = {
      data() {
        return {
          url: 'https://vue3-course-api.hexschool.io/',
          path: 'linachen',
          productList: [],
          alertInfo: false,
          successtInfo: false
        }
      },
      methods: {
        getProductList() {
          axios.get(`${this.url}api/${this.path}/admin/products`)
            .then(res => {
              console.log(res);
              this.productList = [...res.data.products];
            })
        },
        deleteProduct(e) {
          let id = e.target.dataset.id;
          axios.delete(`${this.url}api/${this.path}/admin/product/${id}`)
            .then(res => {
              this.alertInfo = !this.alertInfo;
              this.getProductList();
            })
        },
        showModal() {
          modal.show();
        },
        addProduct() {
          const productTitle = document.querySelector('#productTitle');
          const productCategory = document.querySelector('#productCategory');
          const productUnit = document.querySelector('#productUnit');
          const productContent = document.querySelector('#productContent');
          const productDesc = document.querySelector('#productDesc');
          const productOriginPrice = document.querySelector('#productOriginPrice');
          const productPrice = document.querySelector('#productPrice');
          const enabled = document.querySelector('#enabled');
          const productImage = document.querySelector('#productImage');

          if (!productTitle.value || !productCategory.value || !productUnit.value || !productOriginPrice.value || !productPrice.value) {
            alert('必填欄位不得為空');
            return;
          }

          let item = { data: {} };
          item.data.title = productTitle.value;
          item.data.category = productCategory.value;
          item.data.unit = productUnit.value;
          item.data.content = productContent.value;
          item.data.description = productDesc.value;
          item.data['origin_price'] = parseInt(productOriginPrice.value);
          item.data.price = parseInt(productPrice.value);
          item.data['is_enabled'] = enabled.value === true ? 1 : 0;
          item.data.imageUrl = productImage.value;
          item.data.imagesUrl = [];

          axios.post(`${this.url}api/${this.path}/admin/product`, item)
            .then(res => {
              this.successtInfo = !this.successtInfo;
              this.getProductList();
            })

          modal.hide();
        }
      },
      created() {
        const token = document.cookie.replace(/(?:(?:^|.*;\s*)hexToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
        axios.defaults.headers.common['Authorization'] = token;
        this.getProductList();
      },
      mounted() {
        modal = new bootstrap.Modal(document.querySelector('#modalBox'));
      }
    };

    Vue.createApp(app)
      .mount('#app');
  </script>
</body>

</html>