<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>後台管理</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="container mt-3">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-outline-success" @click="logout">登出</button>
            <button type="button" class="btn btn-primary" id="addBtn" @click="addModal">
              新增商品
            </button>
          </div>

          <div class="feedback" v-if="alertInfo">
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
              刪除成功
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @click="feedbackClose"></button>
            </div>
          </div>
          <div class="feedback" v-if="successtInfo">
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
              確認成功
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @click="feedbackClose"></button>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">商品名稱</th>
                <th scope="col">商品分類</th>
                <th scope="col">商品售價</th>
                <th scope="col">商品原價</th>
                <th scope="col">商品啟用</th>
                <th scope="col">商品管理</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="product in productList" :key="product.id">
                <tr>
                  <td>{{ product.title }}</td>
                  <td>{{ product.category }}</td>
                  <td>{{ product.price }}</td>
                  <td>{{ product.origin_price }}</td>
                  <td :class="{'text-success': product['is_enabled']? true:false}">{{ product['is_enabled']? '啟用':'未啟用' }}</td>
                  <td>
                    <button type="button" :data-id='product.id' class="btn btn-primary me-2" @click="editModal(product, product.id)">編輯</button>
                    <button
                      type="button" :data-id='product.id' class="btn btn-outline-danger"
                      @click="deleteModal(product, product.id)">刪除</button>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- 新增產品 -->
    <div class="modal fade" id="modalBox" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-if="isNew">產品新增</h5>
            <h5 class="modal-title" v-else>產品編輯</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="productTitle" class="form-label">商品名稱<span class="text-danger">(必填)</span></label>
                <input type="text" class="form-control" id="productTitle" placeholder="動物園造型衣服" v-model="tempProduct.title">
              </div>
              <div class="mb-3">
                <label for="productCategory" class="form-label">商品種類<span class="text-danger">(必填)</span></label>
                <input type="text" class="form-control" id="productCategory" placeholder="衣服" v-model="tempProduct.category">
              </div>
              <div class="mb-3">
                <label for="productUnit" class="form-label">商品單位<span class="text-danger">(必填)</span></label>
                <input type="text" class="form-control" id="productUnit" placeholder="個" v-model="tempProduct.unit">
              </div>
              <div class="mb-3">
                <label for="productContent" class="form-label">商品內容</label>
                <input type="text" class="form-control" id="productContent" placeholder="內容" v-model="tempProduct.content">
              </div>
              <div class="mb-3">
                <label for="productDesc" class="form-label">商品描述</label>
                <textarea class="form-control" id="productDesc" rows="3" placeholder="商品描述" v-model="tempProduct.description"></textarea>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="productOriginPrice" class="form-label">商品原價<span class="text-danger">(必填)</span></label>
                  <input type="number" class="form-control" placeholder="商品原價" min="0" id='productOriginPrice' v-model.number="tempProduct['origin_price']">
                </div>
                <div class="col">
                  <label for="productPrice" class="form-label">商品售價<span class="text-danger">(必填)</span></label>
                  <input type="number" class="form-control" min="0" placeholder="商品售價" id='productPrice' v-model.number='tempProduct.price'>
                </div>
              </div>
              <div class="mb-3">
                <label for="productImage" class="form-label">商品圖片</label>
                <input type="url" class="form-control" id="productImage" placeholder="商品圖片網址" v-model="tempProduct.imageUrl">
                <div class="img mt-3" v-if="!!tempProduct.imageUrl">
                  <img :src="tempProduct.imageUrl" alt="photo" class="img-fluid">
                </div>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="enabled" v-model="tempProduct['is_enabled']" :true-value="1" :false-value="0">
                  <label class="form-check-label" for="enabled">
                    是否啟用
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" @click="updateProduct">確認</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 刪除產品 -->
    <div class="modal fade" id="deleteModalBox" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title">產品刪除</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            是否確認刪除<strong class="text-danger">{{ tempProduct.title }}</strong>？(刪除後將無法恢復)
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-danger" @click="deleteProduct">確認</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script>
    let modal = '';
    let deleteModal = '';
    const app = {
      data() {
        return {
          url: 'https://vue3-course-api.hexschool.io/',
          path: 'linachen',
          productList: [],
          tempProduct: {
            imagesUrl:[]
          },
          alertInfo: false,
          successtInfo: false,
          isNew: true
        }
      },
      methods: {
        getProductList() {
          axios.get(`${this.url}api/${this.path}/admin/products`)
            .then(res => {
              if(res.data.success){
                this.productList = res.data.products;
              }       
            })
            .catch(err=>{
              console.log(err);
            })
        },
        deleteModal(product, id) {
          deleteModal.show();    
          this.tempProduct = JSON.parse(JSON.stringify(product));
        },      
        deleteProduct() {
          axios.delete(`${this.url}api/${this.path}/admin/product/${this.tempProduct.id}`)
            .then(res => {
              if(res.data.success){
                this.alertInfo = true;
                this.getProductList();
                deleteModal.hide();
              }   
            })
            .catch(err=>{
              console.log(err);
            })
        },
        addModal() {
          this.tempProduct = { imagesUrl: []};
          this.isNew = true;
          modal.show();
        },
        updateProduct() {
          if (!this.tempProduct.title || !this.tempProduct.category || !this.tempProduct.unit || !this.tempProduct['origin_price'] || !this.tempProduct.price) {
            alert('必填欄位不得為空');
            return;
          }

          if(this.isNew){
            axios.post(`${this.url}api/${this.path}/admin/product`, {data:{ ...this.tempProduct}})
              .then(res => {
                if(res.data.success){
                  this.successtInfo = true;
                  this.getProductList();
                }    
              })
              .catch(err=>{
                console.log(err);
              })
          }else{
            axios.put(`${this.url}api/${this.path}/admin/product/${this.tempProduct.id}`, { data:{...this.tempProduct} })
            .then(res =>{
              if(res.data.success){
                this.successtInfo = true;
                this.getProductList();
              }     
            })
            .catch(err=>{
              console.log(err);
            })
          }
          modal.hide();
        },
        editModal(product, id){       
          modal.show();
          this.isNew = false;
          this.tempProduct = JSON.parse(JSON.stringify(product));   
        },
        feedbackClose(){
          this.successtInfo = false;
          this.alertInfo = false;
        },
        logout() {
          axios.post(`${this.url}logout`)
          .then(res=>{
            if(res.data.success){
              // 刪除 token
              let exp = new Date();
              exp.setTime(exp.getTime() - 1);
              const token = document.cookie.replace(/(?:(?:^|.*;\s*)hexToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
              document.cookie = `hexToken=${token}; expires=${exp.toGMTString()}`;
              window.location = './index.html';
            }else{
              console.log(error);
            }
          })
          .catch(err=>{
            console.log(err);
          })
        }
      },
      mounted() {  
        // modal
        modal = new bootstrap.Modal(document.querySelector('#modalBox'));
        deleteModal = new bootstrap.Modal(document.querySelector('#deleteModalBox'));

        // token
        const token = document.cookie.replace(/(?:(?:^|.*;\s*)hexToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
        axios.defaults.headers.common['Authorization'] = token;
        this.getProductList();
      }
    };

    Vue.createApp(app)
      .mount('#app');
  </script>
</body>

</html>